1.write python programme for different set operation

In [1]:
a={1,2,3,4,52,6,1,23,}
b={5,6,8,1,2,4,36,5,8}

In [3]:
#union
print("the union of a and b is",a|b)  #unique element

the union of a and b is {1, 2, 3, 4, 5, 6, 36, 8, 52, 23}

In [4]:
#intersection
print("the intersection  of a and b is",a&b)  #common element

the tersection  of a and b is {1, 2, 4, 6}

In [5]:
#difference
print("the differnce of a and b is",a-b)   #diffrent element from both lis present in a but not in b

the differnce of a and b is {3, 52, 23}

In [6]:
#symmentric difference
print("the symmetric difference of a and b is",a^b)

the symmetric difference of a and b is {3, 52, 5, 23, 36, 8}

2.write a python progrmme to display current date and time

In [27]:
import datetime
#datetime.datetime.now()
print(now)

2023-01-24 09:55:02.942200

3.write a python progrmme which accept rediuse of circle and give the area of circle

In [ ]:
pi=3.142
r=int(float('enter the rediuse of circle'))
a=pi*

In [30]:
pi=3.142
r=int(float(input('enter the rediuse of circle')))

def areaofcircle(r):
    areaofcircle=pi*r**2
    print(areaofcircle)
areaofcircle(r)

enter the rediuse of circle5
78.55

4.write a python programe which accept user fname and kname and print in reverse order

In [31]:
fname=str(input("enter fname "))
lname=str(input("enter last name"))
print(lname,fname)

enter fname aditya
enter last namerekhate
rekhate aditya

5.write a python programme to comma seferated number and generate list and tuple

In [61]:
number = input("enter comma saparated number ")
list = number.split(",")
tuple = tuple(list)
print("list :" , list)

print("tuple :" , tuple)

enter comma saparated number 5,8,9,5

TypeError: 'list' object is not callable

6.write a python programme to accept a list and display first and last

In [47]:
colour_list=["red","blue","yello","black","green"]

In [52]:
print(f"first colur is  {colour_list[0]} and last name of colur is {colour_list[-1]}")

first colur is  red and last name of colur is green

7.write python programme to display calender of given month

In [54]:
import calendar

In [56]:
year=int(input("enter year"))
month=int(input("enter month"))
calendar.month(year,month)  #it give month calender

enter year2023
enter month1

'    January 2023\nMo Tu We Th Fr Sa Su\n                   1\n 2  3  4  5  6  7  8\n 9 10 11 12 13 14 15\n16 17 18 19 20 21 22\n23 24 25 26 27 28 29\n30 31\n'

In [57]:
calendar.calendar(year,month)  #it give all month  from given year

'                                  2023\n\n      January                   February                   March\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                   1             1  2  3  4  5             1  2  3  4  5\n 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12\n 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19\n16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26\n23 24 25 26 27 28 29      27 28                     27 28 29 30 31\n30 31\n\n       April                      May                       June\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2       1  2  3  4  5  6  7                1  2  3  4\n 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11\n10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18\n17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25\n24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30\n\n        July                     August                  September\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6                   1  2  3\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24\n24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30\n31\n\n      October                   November                  December\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                   1             1  2  3  4  5                   1  2  3\n 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10\n 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17\n16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24\n23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31\n30 31\n'

8.write a python programme to calculate number of days between two dates

In [60]:
from datetime import date
f_date=date(2014,7,2)
l_date=date(2015,7,20)
diff=f_date-l_date
print(diff)

-383 days, 0:00:00