1.write a python programe to find maximum and minimum element from the given list

In [1]:
list=[25,8,95,64,87,54,25,25,50]

In [3]:
max_element=max(list)
print("the maximum element is",max_element)

the maximum element is 95

In [4]:
min_element=min(list)
print("the minimum element is",min_element)

the minimum element is 8

2.write a python programe to check if the given is list or tuple or set

In [43]:
x=(25,6,78,"hh")
#x={25,85,55,55}
#x=["d","k"]
if type(x) is  list:
    print("x is  list")
elif type(x) is tuple:
    print("x is tuple")
elif type(x) is set:
    print("x is  set")
else:
    print("not a list or set or tuple")

x is tuple

In [20]:
type(x)

list

3.write a python programe to get number divisible 15

In [30]:
for i in range(100):
    if i%15==0:
        print(i)

0
15
30
45
60
75
90

4.write a python programme for
1.couts the element
2.total of the list
3.sort the list  in asending order

In [31]:
b=[25,68,55,59,558,56,65]

In [33]:
#couts how many elemeent in a list
len(b)

7

In [34]:
#total of the all element
sum(b)

886

In [36]:
#sort the list
sorted(b)

[25, 55, 56, 59, 65, 68, 558]

5.write a python programe to convert entire string in lowercase and uppercase

In [39]:
str="aditya rekhate"
str.upper()

'ADITYA REKHATE'

In [40]:
str.lower()

'aditya rekhate'