1.write a python programme number is perfectly divisible by another number

In [4]:
list=[]
for i in range(1,100):
    if i%3==0:
        list.append(i)
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
supose we provide a list for finding divisible by 3 number

In [3]:
lower=int(input("enter upper range"))
upper=int(input("enter lower range"))
for i in range(lower,upper):
    if i%3==0:
        print(i)

enter upper range1
enter lower range50
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

2.write python program to convert decimal to binary

In [29]:
decimal=int(input("enter decimal number"))
print("decimal number is ",decimal)
print(bin(decimal),"in binary")
print(oct(decimal),"in octal")
print(hex(decimal),"in hexadecimal")

enter decimal number5
decimal number is  5
0b101 in binary
0o5 in octal
0x5 in hexadecimal

In [32]:
bin(5)

'0b101'

In [33]:
oct(5)

'0o5'

In [34]:
hex(5)

'0x5'

3.write python programme to find ascii value of character

In [14]:
char="A"  #108
print("the ascii value of " ,char ,"is",ord(char))

the ascii value of  A is 65

In [15]:
char="%"  #108 VALUES
print("the ascii value of " ,char ,"is",ord(char))

the ascii value of  % is 37

In [35]:
ord("a")

97

In [36]:
ord("A")

65

4.write python programm for HCF(highest common factor) GCD(grettest common diviser)

In [23]:
x=int(input("enter number"))
y=int(input("enter number"))

def findhcf(x,y):  #12 AND 30 BOTH ARE IN TABLE OF 6
    if x>y:
        smaller =y
    else:
        smaller = x
    for i in range(1,smaller +1):
        if (x%i==0) and (y%i==0):
            hcf=i #stored in hccf var
            
    return hcf
        
findhcf(x,y)

enter number12
enter number30

6

5.find the factors of a number example  2 and 5 are factor of 10

In [27]:
num=int(input("enter number"))
for i in range(1,num+1):
    if num%i==0:
        print(i)      #12 come in 1,2,3,4,6,12 table

enter number12
1
2
3
4
6
12