1.write a python programme to itarate dictionary

In [3]:
a={"a":"aditya","b":"rohit","c":"aaksh","d":"mahesh"}

In [7]:
for i in a.keys():  #for keys
    print(i)

a
b
c
d

In [8]:
for i in a.values():  #for values
    print(i)

aditya
rohit
aaksh
mahesh

In [10]:
for i in a.items():   #for iteams
    print(i)

('a', 'aditya')
('b', 'rohit')
('c', 'aaksh')
('d', 'mahesh')

In [11]:
marks={"mahesh":98,"raj":55,"rohit":95}

In [14]:
for i in marks.items():
    print(i)

('mahesh', 98)
('raj', 55)
('rohit', 95)

2.write python programme to sort a dictonary by value

In [16]:
marks={"mahesh":98,"raj":55,"rohit":95,"vishal":25}

In [17]:
sv=sorted(marks.items(),key=lambda x:x[1]) #sort on the basis of value   1=values

In [18]:
sv

[('vishal', 25), ('raj', 55), ('rohit', 95), ('mahesh', 98)]

In [19]:
sv=sorted(marks.items(),key =lambda x:x[0])  #sort on the basis of keys   0=keys

In [20]:
sv

[('mahesh', 98), ('raj', 55), ('rohit', 95), ('vishal', 25)]

3.write a python programme to check if a list is empty

In [24]:
my_list=[12,52]
if not my_list:
    print("list is empty")
else:
    print("list have elment")

list have elment

In [25]:
my_list=[]
if not my_list:
    print('empty')

empty

4.write a python programme to concatenate two string

In [59]:
a=input("enter a string")
b=input("enter a sting")
print(a + b)

enter a stringAditya
enter a stingRekhate
Aditya Rekhate

5.write a python programme to concatenate

In [52]:
a=[12,5,432,552,12,25,12]
b=[12,58,31,12,25,11]

In [53]:
v=a+b  #add element of bot list

In [54]:
print(v)

[12, 5, 432, 552, 12, 25, 12, 12, 58, 31, 12, 25, 11]

In [55]:
set(v) #we get unique element from both list

{5, 11, 12, 25, 31, 58, 432, 552}

In [56]:
set(a+b)

{5, 11, 12, 25, 31, 58, 432, 552}